<div class="center jumbotron">
  <h1>PETITO</h1>


<% if logged_in? %>
  <% @products.each do |product| %>
    <%= product.name %><br>
    <%= product.price %><br>
    <%= product.stock %>
  <% end %>
  
<% end %>


</div>


